<a href="https://colab.research.google.com/github/ValentinTrita/ValentinTrita/blob/main/Regresia%20liniara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd

In [19]:
print(tf.__version__)

2.9.2

In [20]:
dataset = pd.read_csv('Dataset Exporturi.csv' , date_parser = True)

In [21]:
dataset.head()

   Exporturi (T)   Profit  Unnamed: 2  Unnamed: 3  Unnamed: 4
0      20.535547    377.0         NaN         NaN         NaN
1      59.015953   1445.0         NaN         NaN  Export CSV
2    1001.197369  24979.0         NaN         NaN         NaN
3    1021.286425  25801.0         NaN         NaN         NaN
4     841.279895  21140.0         NaN         NaN         NaN

In [22]:
dataset2 = dataset.copy()

In [23]:
dataset2 = dataset2.drop('Unnamed: 2' , axis=1)

In [24]:
dataset2.head()

   Exporturi (T)   Profit  Unnamed: 3  Unnamed: 4
0      20.535547    377.0         NaN         NaN
1      59.015953   1445.0         NaN  Export CSV
2    1001.197369  24979.0         NaN         NaN
3    1021.286425  25801.0         NaN         NaN
4     841.279895  21140.0         NaN         NaN

In [25]:
dataset2 = dataset2.drop('Unnamed: 3' , axis=1)
dataset2 = dataset2.drop('Unnamed: 4' , axis=1)

In [26]:
dataset2.head()

   Exporturi (T)   Profit
0      20.535547    377.0
1      59.015953   1445.0
2    1001.197369  24979.0
3    1021.286425  25801.0
4     841.279895  21140.0

In [27]:
len(dataset2.index)

499

In [28]:
dataset2.isna().sum()

Exporturi (T)     0
Profit           13
dtype: int64

In [29]:
dataset2 = dataset2.dropna()

In [30]:
len(dataset2.index)

486