<a href="https://colab.research.google.com/github/ValentinTrita/ValentinTrita/blob/main/Tema%20finala%20clasificare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import numpy as ny
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [85]:
dataset= pd.read_csv('Clasificare.csv', date_parser=True)

In [86]:
dataset.head()

  Frequency L2-Cache    FSB[a] Multiplier Voltage     TDP     Family
0   600 MHz    64 KB  200 MT/s         6x   1.6 V  27.4 W  AMD Duron
1   650 MHz    64 KB  200 MT/s       6.5x   1.6 V  29.4 W  AMD Duron
2   700 MHz    64 KB  200 MT/s         7x   1.6 V  31.4 W  AMD Duron
3   750 MHz    64 KB  200 MT/s       7.5x   1.6 V  33.4 W  AMD Duron
4   800 MHz    64 KB  200 MT/s         8x   1.6 V  35.4 W  AMD Duron

In [87]:
dataset=dataset.dropna()

In [88]:
dataset['Frequency']=dataset['Frequency'].str.replace(' MHz', '')
dataset['L2-Cache']=dataset['L2-Cache'].str.replace(' KB', '')
dataset['FSB[a]']=dataset['FSB[a]'].str.replace(' MT/s', '')
dataset['Multiplier']=dataset['Multiplier'].str.replace('x', '')
dataset['Voltage']=dataset['Voltage'].str.replace(' V', '')
dataset['TDP']=dataset['TDP'].str.replace(' W', '')
dataset.head()

  Frequency L2-Cache FSB[a] Multiplier Voltage   TDP     Family
0       600       64    200          6     1.6  27.4  AMD Duron
1       650       64    200        6.5     1.6  29.4  AMD Duron
2       700       64    200          7     1.6  31.4  AMD Duron
3       750       64    200        7.5     1.6  33.4  AMD Duron
4       800       64    200          8     1.6  35.4  AMD Duron

In [89]:
X_train=dataset[['Frequency','L2-Cache','FSB[a]','Multiplier','Voltage','TDP']]
Y_train=dataset[['Family']]

In [90]:
Y_train=ny.array(Y_train)
Y_train=Y_train.ravel()

In [91]:
model=KNeighborsClassifier(n_neighbors=3)
model.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=3)

In [92]:
predict=model.predict([[800,64,200,8,1.6,35.4]])
print(predict)

['AMD Duron']

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(