<a href="https://colab.research.google.com/github/ValentinTrita/ValentinTrita/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd

In [43]:
print(tf.__version__)

2.9.2

In [44]:
dataset = pd.read_csv('Dataset Exporturi.csv' , date_parser = True)

In [45]:
dataset.head()

   Exporturi (T)   Profit  Unnamed: 2  Unnamed: 3  Unnamed: 4
0      20.535547    377.0         NaN         NaN         NaN
1      59.015953   1445.0         NaN         NaN  Export CSV
2    1001.197369  24979.0         NaN         NaN         NaN
3    1021.286425  25801.0         NaN         NaN         NaN
4     841.279895  21140.0         NaN         NaN         NaN

In [46]:
dataset2 = dataset.copy()

In [47]:
dataset2 = dataset2.drop('Unnamed: 2' , axis=1)

In [48]:
dataset2.head()

   Exporturi (T)   Profit  Unnamed: 3  Unnamed: 4
0      20.535547    377.0         NaN         NaN
1      59.015953   1445.0         NaN  Export CSV
2    1001.197369  24979.0         NaN         NaN
3    1021.286425  25801.0         NaN         NaN
4     841.279895  21140.0         NaN         NaN

In [49]:
dataset2 = dataset2.drop('Unnamed: 3' , axis=1)
dataset2 = dataset2.drop('Unnamed: 4' , axis=1)

In [50]:
dataset2.head()

   Exporturi (T)   Profit
0      20.535547    377.0
1      59.015953   1445.0
2    1001.197369  24979.0
3    1021.286425  25801.0
4     841.279895  21140.0

In [51]:
len(dataset2.index)

499

In [52]:
dataset2.isna().sum()

Exporturi (T)     0
Profit           13
dtype: int64

In [53]:
dataset2 = dataset2.dropna()

In [54]:
len(dataset2.index)

486

In [55]:
dataset2 = dataset2[(dataset2 > 0).all (axis=1)]

In [56]:
len(dataset2.index)

466

In [57]:
dataset2 = dataset2.round({'Exporturi (T)':1})

In [58]:
dataset2.tail()

     Exporturi (T)   Profit
494          857.7  21368.0
495          916.1  22913.0
496          201.1   4923.0
497          109.1   2776.0
498          917.6  22913.0

In [59]:
dataset2 = dataset2.drop_duplicates(subset=['Exporturi (T)'])

In [60]:
len(dataset2.index)

458

In [61]:
dataset2 = dataset2.sort_values('Exporturi (T)')

In [62]:
dataset2.head()

     Exporturi (T)  Profit
358           17.4   559.0
85            20.0   377.0
0             20.5   377.0
139           21.9   463.0
218           23.6   618.0

In [67]:
train_dataset = dataset2.sample(frac=0.8, random_state=0)

In [68]:
test_dataset = dataset2.drop(train_dataset.index)

In [69]:
len(test_dataset.index)

92

In [70]:
len(train_dataset.index)

366

In [71]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [74]:
scaler=MinMaxScaler()
train_dataset2=scaler.fit_transform(train_dataset)
test_dataset2=scaler.fit_transform(test_dataset)

In [75]:
train_dataset2, test_dataset2

(array([[0.34528265, 0.35515928],
        [0.49300768, 0.49514906],
        [0.66436872, 0.67323933],
        [0.47006106, 0.48108724],
        [0.25054166, 0.24843867],
        [0.53131771, 0.52390117],
        [0.65885365, 0.66412663],
        [0.03220406, 0.04026081],
        [0.46474296, 0.4592482 ],
        [0.2006106 , 0.21057386],
        [0.23035257, 0.24211477],
        [0.21971637, 0.22113987],
        [0.12970258, 0.13739738],
        [0.45134922, 0.46490436],
        [0.81563916, 0.81326839],
        [0.73882214, 0.74999018],
        [0.15964152, 0.16626733],
        [1.        , 1.        ],
        [0.47518219, 0.48128363],
        [0.71804215, 0.72182725],
        [0.00256057, 0.        ],
        [0.01674217, 0.01712557],
        [0.46513689, 0.4592482 ],
        [0.64063423, 0.65132173],
        [0.04421903, 0.04587769],
        [0.31770731, 0.32094741],
        [0.82430569, 0.82230253],
        [0.79505614, 0.79496445],
        [0.16574749, 0.16363565],
        [0.64132362, 0.65132173],
        [0.22395115, 0.23586944],
        [0.18583809, 0.19537295],
        [0.57021863, 0.57406025],
        [0.89826669, 0.90686987],
        [0.52265117, 0.53195334],
        [0.84804018, 0.84854079],
        [0.92121331, 0.92297419],
        [0.71705732, 0.72182725],
        [0.9816821 , 0.9805177 ],
        [0.08272602, 0.08370321],
        [0.90634233, 0.90891237],
        [0.5041363 , 0.50925017],
        [0.11345283, 0.12349267],
        [0.43480402, 0.43788051],
        [0.75979909, 0.75285754],
        [0.62684656, 0.62445501],
        [0.51733307, 0.52126949],
        [0.36241875, 0.35830158],
        [0.78737443, 0.78769787],
        [0.74532204, 0.74335206],
        [0.40880441, 0.41026749],
        [0.721883  , 0.72551946],
        [0.89058499, 0.88848737],
        [0.8378964 , 0.83660002],
        [0.60055151, 0.60080914],
        [0.24000394, 0.24400016],
        [0.47843214, 0.48128363],
        [0.37581249, 0.3753486 ],
        [0.00758322, 0.0094662 ],
        [0.79377585, 0.78793354],
        [0.9289935 , 0.92792333],
        [0.25674611, 0.26297184],
        [0.03525704, 0.0380612 ],
        [0.11630884, 0.12349267],
        [0.92859957, 0.92705919],
        [0.99852275, 1.        ],
        [0.15176285, 0.15381594],
        [0.33366161, 0.3406261 ],
        [0.21676187, 0.21571939],
        [0.85050227, 0.85600377],
        [0.42623597, 0.42692172],
        [0.76216269, 0.75678542],
        [0.76935198, 0.77556071],
        [0.30372267, 0.30680702],
        [0.7775261 , 0.78699085],
        [0.42357692, 0.43183157],
        [0.44809927, 0.4540634 ],
        [0.1219224 , 0.13405868],
        [0.77309435, 0.77218273],
        [0.27821548, 0.28017597],
        [0.96887926, 0.96633803],
        [0.14092968, 0.14478181],
        [0.73911759, 0.74999018],
        [0.50984834, 0.50665776],
        [0.11473311, 0.12349267],
        [0.32745716, 0.32935308],
        [0.27595036, 0.27864409],
        [0.52432539, 0.53269963],
        [0.38546386, 0.38693586],
        [0.63472523, 0.62971837],
        [0.75497341, 0.76652657],
        [0.33159346, 0.3406261 ],
        [0.29692732, 0.29993323],
        [0.68623203, 0.68466947],
        [0.10321056, 0.10734907],
        [0.10665747, 0.10463883],
        [0.15727792, 0.16642445],
        [0.05672641, 0.05813268],
        [0.09621824, 0.10499234],
        [0.64152058, 0.65132173],
        [0.79279102, 0.78793354],
        [0.00610597, 0.0094662 ],
        [0.53190861, 0.53760949],
        [0.50610597, 0.50665776],
        [0.31426039, 0.31768726],
        [0.57622612, 0.57555285],
        [0.01398464, 0.01366904],
        [0.88359267, 0.88251699],
        [0.00738625, 0.0094662 ],
        [0.54421903, 0.55198555],
        [0.53102226, 0.52390117],
        [0.28018515, 0.28017597],
        [0.01053772, 0.01366904],
        [0.51674217, 0.52126949],
        [0.81140437, 0.81554657],
        [0.04865078, 0.04811658],
        [0.14220997, 0.15102714],
        [0.73301162, 0.7432735 ],
        [0.04402206, 0.04587769],
        [0.57031712, 0.57406025],
        [0.61502856, 0.61714914],
        [0.03515856, 0.0380612 ],
        [0.68022454, 0.67972033],
        [0.53279496, 0.53482069],
        [0.57898365, 0.57555285],
        [0.40535749, 0.41234927],
        [0.59139255, 0.59707765],
        [0.15934607, 0.16626733],
        [0.14004333, 0.14462469],
        [0.29968485, 0.29490553],
        [0.41993303, 0.4221297 ],
        [0.16958834, 0.17290546],
        [0.71823912, 0.72182725],
        [0.77998818, 0.77453946],
        [0.36084302, 0.36466476],
        [0.93716762, 0.93719313],
        [0.96208391, 0.96091755],
        [0.95637187, 0.95518284],
        [0.31583612, 0.32534664],
        [0.63659642, 0.63195726],
        [0.9911365 , 0.99725048],
        [0.62113453, 0.6198201 ],
        [0.74364782, 0.74335206],
        [0.89107741, 0.88848737],
        [0.98867441, 0.99862524],
        [0.2236557 , 0.23586944],
        [0.86645657, 0.87034055],
        [0.13600552, 0.13837936],
        [0.68721686, 0.68466947],
        [0.83513886, 0.83388978],
        [0.87374434, 0.87909973],
        [0.58646839, 0.58179819],
        [0.18288359, 0.18838132],
        [0.89452433, 0.88813386],
        [0.19361828, 0.19847598],
        [0.84154028, 0.84394517],
        [0.59257435, 0.59051809],
        [0.76324601, 0.75678542],
        [0.19342131, 0.19847598],
        [0.04096908, 0.0419498 ],
        [0.30441205, 0.30680702],
        [0.32922986, 0.3406261 ],
        [0.31298011, 0.31768726],
        [0.4935001 , 0.49514906],
        [0.51093165, 0.50928945],
        [0.41412251, 0.41325268],
        [0.5159543 , 0.51121411],
        [0.14152058, 0.14478181],
        [0.90309238, 0.90891237],
        [0.9384479 , 0.93719313],
        [0.29249557, 0.29525904],
        [0.2171558 , 0.22113987],
        [0.81800276, 0.81802113],
        [0.90368328, 0.90891237],
        [0.89472129, 0.88813386],
        [0.03821154, 0.03900389],
        [0.30460902, 0.30680702],
        [0.43273587, 0.43489532],
        [0.49852275, 0.49620959],
        [0.06883987, 0.07136965],
        [0.23054954, 0.24211477],
        [0.4112665 , 0.4132134 ],
        [0.22148907, 0.22408578],
        [0.96818988, 0.96893044],
        [0.66161119, 0.66412663],
        [0.38152452, 0.38587533],
        [0.80519992, 0.80054205],
        [0.23389797, 0.22946699],
        [0.35572188, 0.35555206],
        [0.81278314, 0.81554657],
        [0.24384479, 0.25401626],
        [0.49399252, 0.49514906],
        [0.22729959, 0.24211477],
        [0.56312783, 0.56188381],
        [0.54727201, 0.55072862],
        [0.28146543, 0.28017597],
        [0.41057711, 0.4132134 ],
        [0.69873941, 0.70489807],
        [0.79712429, 0.80812286],
        [0.26107938, 0.26089006],
        [0.82578294, 0.82230253],
        [0.43687217, 0.43788051],
        [0.75054166, 0.74751561],
        [0.71735277, 0.72182725],
        [0.27772306, 0.28017597],
        [0.07317313, 0.08193566],
        [0.95834154, 0.95518284],
        [0.33710853, 0.33473428],
        [0.08085484, 0.08370321],
        [0.09316526, 0.10593503],
        [0.20484538, 0.21296987],
        [0.17559582, 0.18924545],
        [0.13216466, 0.13374445],
        [0.35286587, 0.35496288],
        [0.42495568, 0.43183157],
        [0.3656687 , 0.36631447],
        [0.97892456, 0.97509722],
        [0.58469569, 0.59275698],
        [0.98542446, 0.98149967],
        [0.83247981, 0.83388978],
        [0.64782352, 0.64680467],
        [0.22532992, 0.23586944],
        [0.76265511, 0.75678542],
        [0.46385661, 0.4592482 ],
        [0.09759701, 0.10499234],
        [0.87738822, 0.88027809],
        [0.50659838, 0.50665776],
        [0.68416388, 0.69382144],
        [0.15511129, 0.16642445],
        [0.28294268, 0.29058486],
        [0.96425054, 0.96091755],
        [0.0810518 , 0.08370321],
        [0.55584006, 0.55885934],
        [0.06224148, 0.06697042],
        [0.39137286, 0.39816961],
        [0.78786685, 0.78769787],
        [0.96710656, 0.96893044],
        [0.10586961, 0.10463883],
        [0.80933622, 0.81428964],
        [0.87817609, 0.88027809],
        [0.46031121, 0.4592482 ],
        [0.9840457 , 0.98149967],
        [0.05820366, 0.05813268],
        [0.00305298, 0.        ],
        [0.49793185, 0.49620959],
        [0.64171755, 0.65132173],
        [0.32007091, 0.3272713 ],
        [0.65717944, 0.65654582],
        [0.94544022, 0.94956597],
        [0.49990152, 0.49620959],
        [0.68958046, 0.68466947],
        [0.28904865, 0.30185789],
        [0.45115226, 0.46490436],
        [0.22178452, 0.22408578],
        [0.994091  , 0.99630779],
        [0.69509553, 0.70489807],
        [0.79919244, 0.80368436],
        [0.45528856, 0.46415806],
        [0.76698838, 0.77355748],
        [0.4100847 , 0.41026749],
        [0.45292496, 0.46490436],
        [0.43263738, 0.43489532],
        [0.49931062, 0.49620959],
        [0.53762064, 0.54393338],
        [0.142013  , 0.14124671],
        [0.05524916, 0.05813268],
        [0.45735671, 0.46415806],
        [0.47331101, 0.48128363],
        [0.27358676, 0.27864409],
        [0.22690565, 0.23586944],
        [0.34725231, 0.34911033],
        [0.81504826, 0.81326839],
        [0.77949577, 0.77453946],
        [0.08952137, 0.09246239],
        [0.57405948, 0.58034487],
        [0.7183376 , 0.72182725],
        [0.16584597, 0.16363565],
        [0.60527871, 0.60391217],
        [0.82233603, 0.82230253],
        [0.03387827, 0.04026081],
        [0.80894229, 0.81428964],
        [0.99261375, 0.99630779],
        [0.49251526, 0.49514906],
        [0.33444948, 0.3406261 ],
        [0.17234587, 0.16764209],
        [0.99950758, 1.        ],
        [0.94327359, 0.94956597],
        [0.22552689, 0.23586944],
        [0.31258617, 0.31768726],
        [0.31396494, 0.31768726],
        [0.03545401, 0.0380612 ],
        [0.66840654, 0.67166817],
        [0.2254284 , 0.23586944],
        [0.71223163, 0.72257355],
        [0.29013197, 0.30185789],
        [0.50551507, 0.50665776],
        [0.53909789, 0.54393338],
        [0.71853457, 0.72182725],
        [0.7893441 , 0.79127224],
        [0.52196179, 0.53195334],
        [0.76836715, 0.77355748],
        [0.04274178, 0.04587769],
        [0.62261178, 0.62877568],
        [0.56322631, 0.56188381],
        [0.4893638 , 0.49019993],
        [0.76639748, 0.77355748],
        [0.00443175, 0.00337798],
        [0.70405751, 0.69476413],
        [0.25763246, 0.26297184],
        [0.58016545, 0.59275698],
        [0.59671066, 0.59452453],
        [0.1638763 , 0.16626733],
        [0.39826669, 0.40575042],
        [0.75654914, 0.75285754],
        [0.96090211, 0.96570957],
        [0.57474887, 0.57555285],
        [0.61561946, 0.61714914],
        [0.85286587, 0.85600377],
        [0.39206224, 0.39816961],
        [0.88654717, 0.88518795],
        [0.16604294, 0.16363565],
        [0.65333859, 0.65560313],
        [0.53693126, 0.54393338],
        [0.02885562, 0.03967163],
        [0.74640536, 0.74335206],
        [0.17953516, 0.18276444],
        [0.55790821, 0.55885934],
        [0.08115029, 0.08370321],
        [0.96533386, 0.96893044],
        [0.11768761, 0.12349267],
        [0.08961985, 0.09246239],
        [0.56883987, 0.57406025],
        [0.10419539, 0.10734907],
        [0.44169785, 0.44491143],
        [0.7857987 , 0.78769787],
        [0.78018515, 0.77453946],
        [0.81327556, 0.81554657],
        [0.25487493, 0.25495895],
        [0.47222769, 0.48108724],
        [0.13502068, 0.13837936],
        [0.75664763, 0.75285754],
        [0.27476856, 0.27864409],
        [0.40545598, 0.41234927],
        [0.04963561, 0.04811658],
        [0.09080165, 0.10220354],
        [0.        , 0.00714875],
        [0.42682687, 0.42692172],
        [0.83277526, 0.83388978],
        [0.21045893, 0.21784045],
        [0.64457357, 0.64747241],
        [0.97734883, 0.98138183],
        [0.38467599, 0.38693586],
        [0.53476462, 0.53478141],
        [0.19509553, 0.19847598],
        [0.92278905, 0.92725559],
        [0.19736065, 0.20256098],
        [0.87788064, 0.88027809],
        [0.35926728, 0.36466476],
        [0.14250542, 0.15102714],
        [0.6449675 , 0.64747241],
        [0.10222572, 0.10734907],
        [0.74335237, 0.74335206],
        [0.43647824, 0.43788051],
        [0.57987   , 0.58816136],
        [0.48965925, 0.49019993],
        [0.31160134, 0.31768726]]), array([[0.        , 0.        ],
        [0.04158752, 0.04507985],
        [0.04538638, 0.05404006],
        [0.05698291, 0.05850026],
        [0.0586824 , 0.0692127 ],
        [0.07327802, 0.07988531],
        [0.07577727, 0.07988531],
        [0.07687694, 0.08167735],
        [0.08517445, 0.08581896],
        [0.09607118, 0.09266855],
        [0.10446866, 0.11134563],
        [0.13675897, 0.14208912],
        [0.1396581 , 0.14208912],
        [0.15775267, 0.16144319],
        [0.16245126, 0.16486799],
        [0.16884935, 0.16717773],
        [0.16964911, 0.16717773],
        [0.17984605, 0.18736809],
        [0.20403879, 0.20485046],
        [0.21183645, 0.22527976],
        [0.22253324, 0.21878858],
        [0.22483255, 0.23352316],
        [0.22913126, 0.24367807],
        [0.23852844, 0.23802318],
        [0.25662301, 0.25243917],
        [0.25692292, 0.26120027],
        [0.26492052, 0.26864721],
        [0.29241228, 0.29955   ],
        [0.29631111, 0.29556768],
        [0.30370889, 0.30823145],
        [0.33469959, 0.34622277],
        [0.33719884, 0.34009   ],
        [0.35469359, 0.35753256],
        [0.35669299, 0.35753256],
        [0.37478756, 0.3773645 ],
        [0.38108567, 0.39293537],
        [0.38478456, 0.38632472],
        [0.39398181, 0.39257696],
        [0.40417875, 0.40512126],
        [0.40537839, 0.40512126],
        [0.4106768 , 0.40512126],
        [0.41217635, 0.4141213 ],
        [0.41987404, 0.42706384],
        [0.41997401, 0.42706384],
        [0.44086774, 0.44649755],
        [0.50414876, 0.50248895],
        [0.50704789, 0.50248895],
        [0.50844747, 0.50444029],
        [0.52084375, 0.52622357],
        [0.52964111, 0.5283342 ],
        [0.53943817, 0.53665724],
        [0.55003499, 0.55274581],
        [0.55543337, 0.55760424],
        [0.56663001, 0.57452909],
        [0.57092872, 0.56967066],
        [0.59062281, 0.5848433 ],
        [0.59802059, 0.60328143],
        [0.60201939, 0.60208673],
        [0.60381885, 0.60208673],
        [0.60401879, 0.60208673],
        [0.67579726, 0.67528175],
        [0.69779066, 0.69053403],
        [0.70378886, 0.70602525],
        [0.70628811, 0.70729959],
        [0.7226832 , 0.72788818],
        [0.72518245, 0.72709171],
        [0.72548236, 0.72709171],
        [0.73138059, 0.73533511],
        [0.73407978, 0.74652543],
        [0.76527042, 0.77041934],
        [0.76657003, 0.77245032],
        [0.76836949, 0.77245032],
        [0.79036289, 0.78499462],
        [0.80295911, 0.79777787],
        [0.82435269, 0.81983991],
        [0.82525242, 0.82207001],
        [0.84804559, 0.8540082 ],
        [0.84924523, 0.8540082 ],
        [0.84974508, 0.8540082 ],
        [0.85644307, 0.84787543],
        [0.87273818, 0.87204811],
        [0.88063581, 0.88427382],
        [0.88363491, 0.88359683],
        [0.88543437, 0.88359683],
        [0.89923023, 0.90765003],
        [0.90602819, 0.90605711],
        [0.92102369, 0.92190673],
        [0.92292312, 0.93050854],
        [0.93022093, 0.9307873 ],
        [0.96830951, 0.96587153],
        [0.97090873, 0.97025208],
        [1.        , 1.        ]]))